DB_HOST=localhost
DB_NAME=dmoneydb
DB_USER=root
DB_PASSWORD=1234
expires_in=1h
ACCESS_TOKEN_SECRET=myaccesstokensecret
PARTNER_KEY=ROADTOSDET
DISCOUNT_CODE=top5
PORT=5000
SEND_MAIL=true
STRIPE_SECRET_KEY=stripe_secret_key_here
FRONTEND_URL=http://localhost:3000


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password